{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "kentcdodds",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".md"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "rules": {
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 3
      }
    ],
    "complexity": ["error", 15],
    "valid-jsdoc": ["warn"],
    "no-bitwise": "off",
    "consistent-return": "off",
    "no-negated-condition": "off",
    "arrow-parens": "error",
    "generator-star-spacing": "off",
    "no-console": "warn",
    "no-eval": "error",
    "no-debugger": "warn",
    "no-unused-vars": "error",
    "eqeqeq": "off",
    "import/no-useless-path-segments": "off",
    "no-eq-null": "off"
  }
}
